{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<style>
		.pulse {
			animation: pulse 1s infinite ease-in-out alternate;
		}
		@keyframes pulse {
			from {
				transform: scale(0.8);
			}
			to {
				transform: scale(1.2);
			}
		}
	</style>
	<div class="container-fluid p-0">
		<div class="owl-carousel header-carousel position-relative">
			<div class="owl-carousel-item position-relative">
				<img class="img-fluid" src="img/carousel-1.jpg" alt=""/>
				<div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
					<div class="container">
						<div class="row justify-content-start">
							<div class="col-10 col-lg-8">
								<h1 data-lang='qst1' class="display-3 text-white animated slideInDown mb-4">
									Are you looking for suitable employees?
								</h1>
								<p data-lang='answer1' class="fs-5 fw-medium text-white mb-4 pb-2">
We bring candidates and companies together and take over the recruitment process and propose applicants to the company.
								</p>
								<a data-lang='findJob' href="{{path('app_findemp_new')}}" class="btn btn-primary py-md-3 px-md-5 me-3 animated pulse slideInLeft">
									Search A Job
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-carousel-item position-relative">
				<img class="img-fluid" src="img/carousel-2.jpg" alt=""/>
				<div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
					<div class="container">
						<div class="row justify-content-start">
							<div class="col-10 col-lg-8">
								<h1 data-lang="qst2" class="display-3 text-white animated slideInDown mb-4">
									Would you like to work in Germany?
								</h1>
								<p dala-lang="answer2" class="fs-5 fw-medium text-white mb-4 pb-2">
									get in touch with us or send us an application with an English or German CV.
									Apply for jobs in top locations in Germany such as Munich, Hamburg or Berlin.
								</p>
								<a data-lang="findJob" href="{{path('app_employer_new')}}" class="btn btn-primary py-md-3 px-md-5 me-3 animated pulse slideInLeft">
									Search A Job
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Carousel End -->

	<!-- Search Start -->

	<!-- Search End -->

	<!-- Category Start -->

	<!-- Category End -->

	<!-- About Start -->
		<div class="container-xxl py-5"> <div class="container">
			<div class="row g-5 align-items-center">
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
					<div class="row g-0 about-bg rounded overflow-hidden">
						<div class="col-6 text-start">
							<img class="img-fluid w-100" src="img/about-1.jpg"/>
						</div>
						<div class="col-6 text-start">
							<img class="img-fluid" src="img/about-2.jpg" style="width: 85%; margin-top: 15%;"/>
						</div>
						<div class="col-6 text-end">
							<img class="img-fluid" src="img/about-3.jpg" style="width: 85%;"/>
						</div>
						<div class="col-6 text-end">
							<img class="img-fluid w-100" src="img/about-4.jpg"/>
						</div>
					</div>
				</div>
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
					<h1 data-lang="deschome" class="mb-4">
						We Help To Get The Best Job And Find A Talent
					</h1>
					<p data-lang="mindeschome" class="mb-4">
						Take a look at our top  careers for helping people, plus our ‘best of the rest’ suggestions you might not have considered.
					</p>
					<p data-lang="mindeschome1">
						<i  class="fa fa-check text-primary me-3"></i>Medicine
					</p>
					<p data-lang='mindeschome2'>
						<i  class="fa fa-check text-primary me-3"></i>Professional formation
					</p>
					<p data-lang='mindeschome3'	>
						<i  class="fa fa-check text-primary me-3"></i>Engineers
					</p>
				</div>
			</div>
		</div>
	</div>

	<section class="bg-white py-5">
		<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="container">
				<h1 data-lang="ourclientsays" class="text-center mb-5">
					Our Clients Say!!!
				</h1>
				<div class="owl-carousel testimonial-carousel">
					{% for feedback in feedback %}

						{% if feedback.rate >=3 %}
							<div class="testimonial-item bg-light rounded p-4">
								<i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
								<p>
									{{ feedback.message }}
								</p>
								<div class="d-flex align-items-center">
									<img class="img-fluid flex-shrink-0 rounded" src="img/testimonial-1.jpg" style="width: 50px; height: 50px;"/>
									<div class="ps-3">
										<h5 class="mb-1">
											{{ feedback.name }}
										</h5>
										<small>Profession</small>
									</div>
								</div>
							</div>

						{% endif %}
					{% endfor %}

				</div>

			</div>
		</div>
	</section>
{% endblock %}
