<form method="post" action="{{ path('app_emplopyer_delete', {'id': emplopyer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplopyer.id) }}">
    <button class="btn btn-danger mt-2"><i class="fa-solid fa-trash"></i> Supprimer</button>
</form>
