{{ form_start(form) }}<div class="">
    {{ form_widget(form) }}
    <button class="btn btn-success"onclick="spinner()">
    <span class="button__text">Save</span></button>

</div>{{ form_end(form) }}